<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tipo_evento_financeiro.id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_evento_financeiro.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_evento_financeiro_path(@tipo_evento_financeiro) %> |
<%= link_to 'Back', tipo_evento_financeiros_path %>
