<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @pagamento.id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pagamento.valor %>
</p>

<p>
  <strong>State:</strong>
  <%= @pagamento.state %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @pagamento.data_vencimento %>
</p>

<p>
  <strong>Data pagamento:</strong>
  <%= @pagamento.data_pagamento %>
</p>

<p>
  <strong>Evento financeiro:</strong>
  <%= @pagamento.evento_financeiro %>
</p>

<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
<%= link_to 'Back', pagamentos_path %>
